<h1>Olvidaste tu password</h1>

<p>Ingresa tu correo electronico</p>
<form action="/api/session/forgot-password" method="POST"> 
        <input type="email" id="email" name="email" required placeholder="email">
        <input type="submit" value="Enviar">
</form>