<h1>Pagina Real Time</h1>

  
<h2>Formulario para crear producto</h2>
<form id="creatProductForm" action="/api/products" method="POST" name="CreateProduct" enctype="multipart/form-data">
<input type="text" placeholder="Nombre del producto" name="title" required>
<br><br>
<input type="text" placeholder="Descripción del producto" name="description" required>
<br><br>
<input type="number" placeholder="Precio del producto" name="price" required>
<br><br>
<input type="text" placeholder="Código del producto" name="code" required>
<br><br>
<input type="number" placeholder="Stock del producto" name="stock" required>
<br><br>
<select name="category" required>
  <option value="">Selecciona una categoría</option>
  <option value="Deportes">Deportes</option>
  <option value="Tecnologia">Tecnologia</option>
  <option value="Ropa">Ropa</option>
</select>
<br><br>
<p>Foto del producto</p>
<input type="file", name="imageProd" required>
<br><br>
<button type="submit">Agregar Producto</button>
</form>
<div id="produclist"></div>
<script src="/socket.io/socket.io.js"> </script>
<script src="/js/realTime.js"></script>



